<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ASPNET_DETAILED_ERRORS" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="147483648" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>